<div>
    <h3>Ваши заказы</h3>>
<!--    <table>-->
<!--        <tr>-->
<!--            <td>ID заказа</td>-->
<!--            <td>Сумма</td>-->
<!--            <td>Дата создания</td>-->
<!--        </tr>-->
<!--        <tbody>-->
<!--        <tr ng-repeat="order in MyOrders"></tr>-->
<!--        <td>{{order.id}}</td>-->
<!--        <td>{{order.totalPrice}}</td>-->
<!--        <td>{{order.createdAt}}</td>-->
<!--        </tbody>-->
<!--        <tr>-->

<!--    </table>-->


        <table class="table table-hover">
            <tr>
                <td>ID</td>
                <td>Адрес доставки</td>
                <td>Стоимость</td>
            </tr>
            <tbody>
            <tr ng-repeat="order in MyOrders">
                <td>{{order.id}}</td>
                <td>{{order.address}}</td>
                <td>{{order.totalPrice}}</td>
            </tr>
            </tbody>
        </table>
</div>